*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: none;
        text-decoration: none;

}
.video{
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* position: absolute; */
    
   
    
}

.nav>a{
    color: white;

}
.nav{
    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.logo{
    font-size: 30px;
    font-weight: bold;
   
}
.nav>ul{
    display: flex;
}
.nav>ul li{
list-style: none;
margin-left: 35px;
color: aliceblue;
font-weight: 600;
}
.nav>ul >li> a{
    font-size: 18px;
     transition: .3s ease-in-out;
    color: white;
}
.nav> ul >li:hover,.nav>ul>li.active>a {
    color: greenyellow;
}
.box{
   /* border: 1px solid white; */
    width: 1100px;
    height: 450px;
    /* background-color: rgba(0, 0, 0, 0.763); */
    /* filter: blur(80px); */
    margin: 30px 100px;
    position: relative;
    top: 90px;
    display: flex;
    
}
.bio{
    width: 570px;
    height: 400px;
    /* border: 1px solid white; */
    padding: 10px;
}
.bio>h2{
    padding: 10px 0;
    color:greenyellow;
    margin: 20px 0;
    font-size: 32px;
    text-align: center;
    text-shadow: 0 0 5px greenyellow;
}
.bio >h2>span{
    color: greenyellow;
    font-size: 39px;
}
.bio>h2:hover{
    color: white;
}
.bio>p{
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 18px;
    letter-spacing: .1px;
}
.bio >p>span{
    color: greenyellow;
}
.locate{
    padding: 30px;
     width: 400px;
    height: 350px;
}
.locate> iframe{
    width: 400px;
    height: 300px;
    margin-left: 60px;
    

}
.locate>h2{
    color: white;
     padding-bottom: 20px;

}
.locate>h2>span{
    color: greenyellow;
}
.locate>h2:hover{
    color: greenyellow;
   
}
section{
    width: 100%;
    height: 100vh;
}
@media (max-width:460px){

    .box{
        display: grid;
       grid-template-columns: auto;
    }
}