*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        text-decoration: none;

}
body{
    background-color: black;
}
.nav>a{
    color: white;

}
.nav{
    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.logo{
    font-size: 30px;
    font-weight: bold;
   
}
.nav>ul{
    display: flex;
}
.nav>ul li{
list-style: none;
margin-left: 35px;
color: aliceblue;
font-weight: 600;
}
.nav>ul >li> a{
    font-size: 18px;
     transition: .3s ease-in-out;
    color: white;
}
.nav> ul >li:hover,.nav>ul>li.active>a {
    color: greenyellow;
}

.head{
   align-items: center;
   text-align: center;
}
.head>h1{
    font-size: 34px;
    color: greenyellow;
    padding: 20px;
    /* margin-top: 30px; */
}
.head>p{
    color: white;
    font-size: 18;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}
.head>h1:hover{
 font-size: 36px;
 text-shadow: 3px 3px 5px green;

}
.parent{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
}
.details{
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    color: aliceblue;
}
.details h5{
    /* padding: 30px; */
    color: yellowgreen;
    font-size: 21px;


}
.details i{
    height: 33px;
    width: 33px;
    padding:5px 3px; 
    border-radius: 50px;
    font-size: 20px;
    color: greenyellow;
    transition: .3s ease-in-out;
}
.details i:hover{
    background-color: greenyellow;
    color: black;
    /* font-size: 24px; */
    box-shadow: 0 0 4px green;
}
.form{
    width: 350px;
    height: 400px;
    border: 1px solid rgb(11, 77, 5);
    box-shadow: 5px 5px 8px green;
    margin-right: 90px;
   display: block;
    /* align-items: center; */
    text-align: center;
    background-color: rgba(240, 248, 255, 0.053);
    border-radius: 19px;

}
.align{
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    width: 300px;
    padding-left: 60px;
    margin: 30px 0;
}
.align p{
    margin-left: 60px;
    letter-spacing: 1px;
    line-height: 18px;
}
.align h5{
    padding-left: 30px;
}

input{
    
    width: 240px;
    height: 35px;
    margin: 20px 0;
  
    border: 1px solid green;
    border-top: none; 
    border-left: none;
     border-right: none; 
    color: white;
    background: transparent;
    
    font-size: 15px;
    letter-spacing: 1.2px;
    font-family: sans-serif;
}
.input span{
    color: rgb(232, 240, 130);
    padding-left: 10px;
    font-size: 12px;
}
.form input:focus{
  outline: none;
}
textarea{
    height: 120px;
    background-color: rgba(3, 26, 26, 0.374);
     font-size: 15px;
    letter-spacing: 1.2px;
    font-family: sans-serif;
    outline: none;
    width: 240px;
    margin: 20px 0;
    color: white;
    padding: 8px 6px;
}
button{
    width: 240px;
    height: 35px;
    background-color: transparent;
    border: 1px solid green;
    text-align: center;
    color: white;
    box-shadow: 3px 3px 5px green;
    margin: 20px 0;
    border-radius: 20px;
    transition: .2s ease-in-out;
}
button:hover{
    background-color: rgb(18, 17, 17);
    color: white;
    font-weight: bold;
}
.video{
   

    position: fixed;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
}
section{
    transition-timing-function:ease-in ;
}
@media  (max-width:480px){
    .parent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;

    }
    .form{
        margin-left: 70px;
    }
    span{
        margin-left: 80px;
    }
    .form{
    width: 350px;
    height: 450px;
}
}

/* @media  (min-width:805px){
  .parent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;

    }
} */
 .bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    background-color: black;
    transform: translateY(-100%);
    animation:show-bars .5s ease-in-out forwards ;
    animation-delay: calc(.1s *var(--i));
}
@keyframes show-bars{
    100%{
        transform: translateY(0%);
    }
}
