*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        text-decoration: none;

}
body{
    background-color: black;
}


.nav>a{
    color: white;

}
.nav{
    position: fixed;
    width: 100%;
    margin-bottom:  30px;
    margin-left: 0;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
    /* padding: 30px 0; */
}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.logo{
    font-size: 30px;
    font-weight: bold;
   
}
.nav>ul{
    display: flex;
}
.nav>ul li{
list-style: none;
margin-left: 35px;
color: aliceblue;
font-weight: 600;
}
.nav>ul >li> a{
    font-size: 18px;
     transition: .3s ease-in-out;
    color: white;
}
.nav> ul >li:hover,.nav>ul>li.active>a {
    color: greenyellow;
}
.image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 60px;
    /* margin-top: 30px; */
    position: relative;
    top: 20px;
}
.card {
    width: 350px;
    height: 200px;
    border: 1px solid rgba(0, 128, 0, 0.735);
    box-shadow: 3px 3px 12px rgba(172, 255, 47, 0.61);
    margin-top: 25px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(2, 14, 2, 0.322);
    display: flex;    
    transition: .3s ease-in-out
}
.card:hover {
    width: 370px;
    height: 220px;
    border: 0 0 10px greenyellow;
    background-color: black;
}
.card h3{
    color: white;
    /* text-align: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center; */
    font-size: 30px;
    margin: 80px 40px;
}

.card h3:hover{
color: greenyellow;
text-shadow: 0 0 2px greenyellow;
}
.card  img {
    width: 47%;
  padding: 40px 20px;

}


.video{
    z-index: -1;
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100vh;

}
/* @media (min-width :760px){
.image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
}
    
} */
/* @media (max-width :400px){
.image{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
    
} */